
$body-background: #000
$header-background: #2d132e
$card-background: #7b337e
    
body
    background-color: $body-background
    margin: 0
    color: white
    h2
        font-size: 3rem
        text-align: center
        font-family: "Roboto Mono", monospace

header
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
    margin: 0
    margin-bottom: -7em
    height: 15em
    background-color: $header-background
    nav.desktop-nav ul
        display: none // flex when visible
        flex-direction: row-reverse
        flex-wrap: wrap
        flex-grow: 1
        li
            list-style: none
            a
                text-decoration: none
                color: white
                margin: 1em
                font-size: 1.5em
                font-family: "Roboto Mono", monospace
                &:hover
                    color: #F5D5E1

.logo
    height: 150px
    width: 150px

.image-slider
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    max-height: min-content
    #main-image
        object-fit: cover
        max-height: 600px
        max-width: 70vw
        filter: drop-shadow(0 0 3px black)

#next-btn, #prev-btn
    margin: .25em
    padding: .25em
    &:hover
        filter: drop-shadow(0 0 3px #F5D5E1)

.card-container
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-auto-rows: auto
    grid-gap: 3rem
    margin-left: 1em
    margin-right: 1em

.card
    display: grid
    min-height: 40em
    background-image: linear-gradient($card-background, #00000000)
    grid-template-columns: 1fr
    gap: 1rem
    padding: 2rem
    margin-bottom: 1em
    border: 1px solid #dddddd91
    border-radius: 8px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)

    .card-image
        object-fit: cover
        width: 100%
        height: 200px
        border-radius: 6px

    .card-heading
        font-size: 2rem
        margin: 0

    .card-text
        font-size: 1.5rem
        color: white

    .card-link
        font-size: 1.5rem
        text-decoration: none
        color: #F5D5E1

.menu-icon
    padding: 0.5em
    font-size: 3em

.nav-content-wrapper
    overflow-y: scroll
    max-height: 100vh

.nav-open-overlay
    display: none
    background-color: rgba(0, 0, 0, 0.5)
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.nav-sidebar
    display: none
    overflow-y: auto
    background-image: linear-gradient($card-background, #000000)
    position: absolute
    top: 0
    bottom: 0
    right: 0
    width: 500px // todo: something else for width
    #closeMenuBtn
        background: none
        border: none
        font-size: 3em
        color: white
        margin: .5em
    nav ul li
        list-style: none
        a
            text-decoration: none
            color: white
            margin: 1em
            font-size: 1.5em
            font-family: "Roboto Mono", monospace
            &:hover
                color: #F5D5E1

// desktop styles
@media screen and ( min-width: 930px )
    .card-container 
        grid-template-columns: repeat(3, 1fr)

    header nav.desktop-nav ul
        display: flex

    .menu-icon
        display: none
