$body-background: #430D4B
$header-background: #210435
$card-background: #7B337E

body
    background-color: $body-background
    margin: 0
    color: white
    h2
        font-size: 3rem
        text-align: center
nav
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    margin: 0
    margin-bottom: -7em
    height: 15em
    background-color: $header-background
    ul
        display: flex
        flex-direction: row-reverse
        flex-grow: 1
        li
            list-style: none
            a
                text-decoration: none
                color: white
                margin: 1em
                font-size: 1.5em
                font-family: 'Montserrat', sans-serif
                &:hover
                    color: #F5D5E1
.logo
    height: 150px
    width: 150px

.image-slider
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    max-height: min-content
    #main-image
        object-fit: cover
        max-height: 600px
        min-width: 70vw
        filter: drop-shadow(0 0 3px black)

#next-btn, #prev-btn
    margin: .25em
    padding: .25em
    &:hover
        filter: drop-shadow(0 0 3px #F5D5E1)

.card-container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: auto
    grid-gap: 3rem
    margin-left: 1em
    margin-right: 1em

.card
    display: grid
    height: 40em
    background-color: $card-background
    grid-template-columns: 1fr
    gap: 1rem
    padding: 2rem
    margin-bottom: 1em
    border: 1px solid #ddd
    border-radius: 8px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)

    .card-image
        object-fit: cover
        width: 100%
        height: 200px
        border-radius: 6px

    .card-heading
        font-size: 2rem
        margin: 0

    .card-text
        font-size: 1.5rem
        color: white

    .card-link
        font-size: 1.5rem
        text-decoration: none
        color: #F5D5E1
